KC_USERNAME=YOUR_KEYCLOAK_ADMIN_USERNAME
KC_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD
KC_URL=YOUR_KEYCLOAK_URL
KC_ISSUER_URL=YOUR_KEYCLOAK_ISSUER_URL
KC_CLIENT_ID=YOUR_KEYCLOAK_CLIENT_ID
KC_REALM=YOUR_KEYCLOAK_REALM

DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD
DB_DATABASE=YOUR_DATABASE_NAME
DB_URL=YOUR_JDBC_DATABASE_URL

OPENAI_URL=YOUR_OPENAI_URL
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_MODEL=YOUR_OPENAI_MODEL
