KC_USERNAME=admin
KC_PASSWORD=admin
KC_PORT=8081
KC_REALM=my_realm

DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATABASE=db_name
DB_PORT=5432
DB_HOST=localhost
DB_URL=jdbc:postgresql://${DB_HOST}:${DB_PORT}/${DB_DATABASE}

GROQ_API_KEY=your_api_key_here

REPOSITORY_DIRECTORIES_PATH=git_repositories
CHANGE_NOTE_DIRECTORY=notes