CORS_ALLOWED_ORIGINS=YOUR_ALLOWED_COMMA_SEPARATED_ORIGINS

KC_USERNAME=YOUR_KEYCLOAK_ADMIN_USERNAME
KC_PASSWORD=YOUR_KEYCLOAK_ADMIN_PASSWORD
KC_URL=YOUR_KEYCLOAK_URL
KC_ISSUER_URL=YOUR_KEYCLOAK_ISSUER_URL
KC_JWK_SET_URI=YOUR_KEYCLOAK_JWK_SET_URI
KC_CLIENT_ID=YOUR_KEYCLOAK_CLIENT_ID
KC_REALM=YOUR_KEYCLOAK_REALM

DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD
DB_DATABASE=YOUR_DATABASE_NAME
DB_URL=YOUR_JDBC_DATABASE_URL

OPENAI_URL=YOUR_OPENAI_URL
OPENAI_API_KEY=YOUR_OPENAI_API_KEY
OPENAI_MODEL=YOUR_OPENAI_MODEL

JIRA_BASE_URL=YOUR_JIRA_BASE_URL

CHANGE_NOTE_DIRECTORY=YOUR_CHANGE_NOTE_DIRECTORY
RELEASE_NOTE_DIRECTORY=YOUR_RELEASE_NOTE_DIRECTORY

GITHUB_RW_PAT=YOUR_GITHUB_RW_PERSONAL_ACCESS_TOKEN